a {
   outline: 0;
}

#page {
	padding-top: 50px;
	height: 100%;
}

#chats {
	margin-bottom: 15px;
}

#chats .navbar-fixed-bottom {
	z-index: 0;
}

#chats .history {
	overflow-y: auto;
}

#other {
	padding-top: 1rem;
	overflow-y: auto;
	height: 100%;
}

#search_form .btn-group {
	width: 100%;
	margin-top: 1rem;
}

#search_results {
	padding-top: 1rem;
}