a {
   outline: 0;
}

#page {
	padding-top: 100px;
	height: 100%;
}

#chats {
	margin-bottom: 15px;
}

#chats .navbar-fixed-bottom {
	z-index: 0;
}

#chats .history {
	overflow-y: auto;
}

#other {
	overflow-y: auto;
	height: 100%;
}